:root {
	--white: #fffefe;
	--black: #312d2b;
	--light-grey: #eaeaea;
	--accent: #948b86;
	--accent-gradient: linear-gradient(94deg, #a5958c 11.52%, #948379 63.16%);
	--header-gradient: linear-gradient(
		180deg,
		rgba(49, 45, 43, 0.8) 0%,
		rgba(49, 45, 43, 0) 100%
	);
}
