@import 'typography';
@import 'colors';

:root {
	//Base

	--header-height: #{gem(87)};
	--header-height-decrement: #{gem(-87)};
	--container-gap: #{gem(16)};
	--section-padding: #{gem(50)};

	@media all and (min-width: 640px) {
		--container-gap: #{gem(28)};
	}

	@media all and (min-width: 1024px) {
		--container-gap: #{gem(40)};
		--section-padding: #{gem(65)};
	}
}
