:root {
	// FONT-SIZE
	--font-size-h1: #{gem(36)};
	--font-size-h2: #{gem(32)};
	--font-size-h3: #{gem(28)};
	--font-size-h4: #{gem(20)};
	// --font-size-h5: #{gem(16)};
	--txt-l: #{gem(18)};
	--txt-m: #{gem(16)};
	--txt-s: #{gem(14)};

	@media all and (min-width: 640px) {
		--font-size-h1: #{gem(44)};
		--font-size-h2: #{gem(40)};
		--font-size-h3: #{gem(32)};
		--font-size-h4: #{gem(20)};
	}

	@media all and (min-width: 1024px) {
		--font-size-h1: #{gem(52)};
		--font-size-h2: #{gem(48)};
		--font-size-h3: #{gem(36)};
		--font-size-h4: #{gem(20)};
	}
}
